:root {
  --text-base: hsl(218, 13%, 72%);
  --text-title: hsl(44, 26%, 77%);
  --background: hsl(40, 6%, 9%);
  --form-background: hsl(36, 7%, 13%);
  --primary-color: hsl(43, 100%, 60%);
  --remind-color: hsl(217, 10%, 69%);
  --box-shadow-color: hsl(43, 100%, 77%);
  --input-without-active: hsl(0, 0%, 53%);
  --button-text-color: hsl(43, 89%, 15%);

  font-size: 62.5%; /* 1rem = 10px */
}

* {
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 144rem;
}

.formLogin {
  padding: 4rem 7.4rem 19.4rem 4rem;
}

.formLogin .logo {
  margin-bottom: 12.6rem;
}

.formLogin .form {
  background: var(--form-background);
  padding: 5.5rem 11.9rem;
  max-width: 57.2rem;
}

.formLogin .loginDescription {
  margin-bottom: 2.7rem;
}

.formLogin .loginDescription div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.formLogin .loginDescription div h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  /* identical to box height */

  color: var(--text-title);

  margin-top: 0.5rem;
}

.formLogin .loginDescription p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  /* or 150% */

  color: var(--text-base);
}

.formLogin .email,
.formLogin .password {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.formLogin .email label,
.formLogin .password label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  /* identical to box height */

  color: var(--text-base);
}

.formLogin .email input,
.formLogin .password input {
  max-width: 33.5rem;
  height: 4.4rem;
  border: 1px solid var(--input-without-active);
  border-radius: 4px;
  background-color: var(--form-background);
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.formLogin .email input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;

  color: var(--remind-color);

  background: url('../assets/mail.svg') left center no-repeat;
  padding-left: 2.5rem;
}

.formLogin .password input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;

  color: var(--remind-color);

  background: url('../assets/mail.svg') left center no-repeat,
    url('../assets/eye.svg') right center no-repeat;
  padding-left: 2.5rem;
}

/*======================FOCUS/BLUR - EMAIL/PASSWORD=============================*/
.formLogin .email .activeEmail {
  position: relative;
  outline: none;
  border: 1px solid var(--primary-color);
  box-shadow: 0px 0px 0px 2px var(--box-shadow-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;

  color: var(--remind-color);
}

.formLogin .email .activeEmail {
  max-width: 33.5rem;
  height: 4.4rem;
  border-radius: 4px;
  background-color: var(--form-background);
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.formLogin .email .activeEmail::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;

  color: var(--remind-color);

  background: url('../assets/mail-focus.svg') left center no-repeat;
  padding-left: 2.5rem;
}

.formLogin .password .activedPassword {
  position: relative;
  outline: none;
  border: 1px solid var(--primary-color);
  box-shadow: 0px 0px 0px 2px var(--box-shadow-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;

  color: var(--remind-color);
}

.formLogin .password .activedPassword {
  max-width: 33.5rem;
  height: 4.4rem;
  border: 1px solid var(--input-without-active);
  border-radius: 4px;
  background-color: var(--form-background);
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.formLogin .password .activedPassword::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;

  color: var(--remind-color);

  background: url('../assets/mail-focus.svg') left center no-repeat;
  padding-left: 2.5rem;
  z-index: 10;
}

/*==================PASSWORD EYE=============================================*/
.formLogin .password {
  position: relative;
}

.formLogin .password .showPassword {
  position: absolute;
  right: 1.3rem;
  top: 3.6rem;
}
/*===========================================================================*/

.formLogin .checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  max-width: 33.4rem;
}

.formLogin .checkbox div label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  /* identical to box height */

  color: var(--remind-color);
}

.formLogin .checkbox p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
  /* identical to box height */

  white-space: nowrap;

  color: var(--primary-color);
}

/*=========================CHECKBOX EDIT======================================*/
input[type='checkbox'] {
  position: relative;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

input[type='checkbox']:before {
  content: '';
  display: block;
  position: absolute;
  width: 1.8rem;
  height: 1.7rem;
  top: 0;
  left: 0;
  background-color: var(--form-background);
  border: 1px solid #868686;
  border-radius: 4px;
}

input[type='checkbox']:checked:before {
  position: absolute;
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
}

input[type='checkbox']:checked:after {
  content: '';
  position: absolute;
  display: block;
  width: 0.5rem;
  height: 1rem;
  border: solid var(--button-text-color);
  border-width: 0 0.3rem 0.3rem 0;

  transform: rotate(45deg);

  top: 0.1rem;
  left: 0.7rem;
}
/*==========================================================================*/

.formLogin button {
  width: 33.5rem;
  height: 5.1rem;
  cursor: pointer;

  background: var(--primary-color);
  border-radius: 4px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  /* identical to box height */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  color: var(--button-text-color);

  margin-bottom: 1.4rem;
}

.formLogin .anyAccount {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  /* identical to box height */

  white-space: nowrap;

  color: var(--primary-color);
  margin-left: 4.9rem;
}

.formLogin .anyAccount span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
  /* identical to box height */

  color: var(--primary-color);
}

.imgCar img {
  width: 72rem;
  height: 90rem;
}

.formLogin .checkbox div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
